<nav class="navbar navbar-default">
  <div id="loading-bar">
    <div class="bar"></div>
  </div>
  <div class="container">
    <div class="brand">
      <%= link_to compiled_image_tag('site/logos/logo-white-2.svg'), '/app' %>
      <%= link_to compiled_image_tag('site/logos/logo-white-2-internal.svg'), '/app', class: 'internal-only' %>
    </div>

    <div class="search-container"></div>

    <ul class="main-nav pull-right">
      <li class="write-a-review">
        <%= link_to compiled_image_tag('app/icons/review.svg'), '/app/reviews/new' %>
        <%= link_to "Write a Review", '/app/reviews/new', class: 'hidden-xs' %>
      </li>
      <li class="toggle-search">
        <%= link_to compiled_image_tag('app/icons/icon-search-white.svg', width: '30px'), '/app/search',class: 'visible-xs' %>
      </li>
      <div id="hamburger-menu"></div>
    </ul>
  </div>
</nav>

<% if theme_class == 'internal' || flash[:error] %>
  <div class="flash">

    <% if flash[:error] %>
      <div class='message'>
        <%= compiled_image_tag "app/icons/warning-orange.svg", alt:"Internal warning icon" %>
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="internal-only">
      <%= compiled_image_tag "app/icons/warning.svg", alt:"Internal warning icon" %>
      <div class="hidden-xs hidden-sm">
        This is a private instance of Fletcher for the Internal IT team. Reviews, products and companies submitted in this platform will not be accessible to the public.
      </div>
      <div class="visible-xs visible-sm">
        This is a private instance of Fletcher. Anything submitted in this platform will not be accessible to the public.
      </div>
    </div>
  </div>
<% end %>