<nav class="navbar navbar-default">
  <div class="container">
    <%= link_to image_tag('logos/logo-white-2.svg'), '/app', class: 'brand' %>

    <div class="search-container">
      <form class='form-search' role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
        </div>
      </form>
    </div>

    <ul class="main-nav pull-right">
      <li class="toggle-search"><%= link_to "Search", '#' %></li>
      <li class="write-a-review">
        <%= link_to image_tag('icons/review.svg'), '/app/products/review/new' %>
        <%= link_to "Write a Review", '/app/products/review/new', class: 'hidden-xs' %>
      </li>
      <li class="show-hamburger-menu text-hide"><%= link_to 'Menu', '#' %></li>
    </ul>
  </div>
</nav>
