<nav class='menu hamburger-menu'>
  <div class='container'>

    <header>
      <ul class='menu-nav'>
        <li class='close-hamburger-menu text-hide'><%= link_to 'Close Menu', '#' %></li>
        <li class='logout'><%= link_to 'Log out', sign_out_path %></li>
      </ul>

      <div class='profile-container'>
        <%= image_tag current_user.avatar_url, class: 'avatar' %>
        <%= link_to 'My profile', '#' %>

        <% if current_user.admin? %>
          <div class='admin-container'>
            <%= link_to 'Admin Area', admin_root_url, class: 'btn btn-default btn-round' %>
          </div>
        <% end %>
      </div>


      <div class='my-tags-container'>
        <h2>My tags</h2>
        <div class='no-content'>Adding tags will update your News Feed with the latest news from the ones you follow</div>
        <div class='content'></div>

        <%= link_to 'Add / Edit tags', '#', class: 'btn btn-add-edit-tags' %>
      </div>

      <div class='my-bookmarks-container'>
        <h2>My bookmarks</h2>
        <div class='no-content'>Save your favourites and come back to them easily from this menu.</div>
        <div class='content'></div>
      </div>

      <div class='my-recent-activity-container'>
        <h2>My recenty activity</h2>
        <div class='no-content'>You haven’t added a review yet.</div>
        <div class='content'></div>
      </div>

    </header>
  </div>
</nav>
