<div class="benefits" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 header">
        Use Fletcher to search and discover the latest products
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 subheaders">
        <div>See what people like you are saying about new technologies</div>
        <div>Have you worked with a great product? Write a review and share!</div>
      </div>
    </div>
    <div class="row examples visible-xs">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="row example left first">
          <div class="image col-xs-4">
            <%= image_tag 'landing/discover/relevant.svg' %>
          </div>
          <div class="col-xs-8">
            <div class="row left">
              <div class="example-header">
                Relevant
              </div>
              <div class="example-text">
                Learn about products that are useful to you and your job
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="row example">
          <div class="col-xs-8">
            <div class="row right">
              <div class="example-header">
                Current
              </div>
              <div class="example-text">
                Discover the lastest technologies, tools and software
              </div>
            </div>
          </div>
          <div class="image col-xs-4">
            <%= image_tag 'landing/discover/current.svg' %>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="row example">
          <div class="image col-xs-4">
            <%= image_tag 'landing/discover/global.svg' %>
          </div>
          <div class="col-xs-8">
            <div class="row left">
              <div class="example-header">
                Global
              </div>
              <div class="example-text">
                Reviews from our vast global network provide insight on each product
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row examples hidden-xs">
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/relevant.svg' %>
        </div>
        <div class="example-header">
          Relevant
        </div>
        <div class="example-text">
          Learn about products that are useful to you and your job
        </div>
      </div>
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/current.svg' %>
        </div>
        <div class="example-header">
          Current
        </div>
        <div class="example-text">
          Discover the lastest technologies, tools and software
        </div>
      </div>
      <div class="col-xs-4">
        <div class="image">
          <%= image_tag 'landing/discover/global.svg' %>
        </div>
        <div class="example-header">
          Global
        </div>
        <div class="example-text">
          Reviews from our vast global network provide insight on each product
        </div>
      </div>
    </div>
  </div>
</div>