<div id="carousel" class="bullets slides carousal">

  <a href="#" class="slidesjs-previous slidesjs-navigation"></a>
  <a href="#" class="slidesjs-next slidesjs-navigation"></a>

  <div class="slide carousal-slide right">
    <div class="caption">
      <div><%= compiled_image_tag 'site/slides/quotes.svg', class: 'quotes' %></div>
      <div>
        Our Technology Innovation team investigates new products every week, and Fletcher finally gives us a place to organize and share all that information with the rest of the company.
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4 box">
      <div class="image" style="background-image: url('<%= image_url 'site/profile_images/edb.png' %>')"></div>
      <div class="name">Ed B.</div>
    </div>
  </div>

  <div class="slide carousal-slide front">
    <div class="caption">
      <div><%= compiled_image_tag 'site/slides/quotes.svg', class: 'quotes' %></div>
      <div>
        Fletcher is a great place to share stories about all the random 3rd-party technology companies out there.  It’s a great complement to the Technology Catalog!
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4 box">
      <div class="image" style="background-image: url('<%= image_url 'site/profile_images/kathrynw.jpg' %>')"></div>
      <div class="name">Kathryn W.</div>
    </div>
  </div>

  <div class="slide carousal-slide left">
    <div class="caption">
      <div><%= compiled_image_tag 'site/slides/quotes.svg', class: 'quotes' %></div>
      <div>
        Our Business Development team is able to leverage the Fletcher platform to track details around technology products that we use in the market place in order to share feedback in a centralized location. We are very excited for the launch of this tool and to deploy across the Americas.
      </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4 box">
      <div class="image" style="background-image: url('<%= image_url 'site/profile_images/andreww.jpg' %>')"></div>
      <div class="name">Andrew W.</div>
    </div>
  </div>

</div>