<div class="row bullets slides" id="slideshow">

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/internal/discover.jpg', class: 'internal-only' %>
      <%= image_tag 'screenshots/default/discover.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/internal/learn.jpg', class: 'internal-only' %>
      <%= image_tag 'screenshots/default/learn.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/internal/review.jpg', class: 'internal-only' %>
      <%= image_tag 'screenshots/default/review.jpg' %>
    </div>
  </div>

  <div class="slide">
    <div class="col-xs-8 col-xs-offset-2 bullet">
      <%= image_tag 'screenshots/internal/share.jpg', class: 'internal-only' %>
      <%= image_tag 'screenshots/default/share.jpg' %>
    </div>
  </div>

</div>