<div class="slideshow">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <%= render 'slides' %>
      </div>
      <div class="col-xs-5">
        <div class="row header">
          <div class="col-xs-12">
            <div>From you and your peers,</div>
            <div>for you and your peers</div>
          </div>
        </div>
        <div class="row slide-show-boxes">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
              <div class="col-xs-6 slide-show-box discover active">
                <div class="row">
                  <div class="col-xs-12"><%= image_tag 'slides/discover_on.svg', class: 'active' %></div>
                  <div class="col-xs-12"><%= image_tag 'slides/discover_off.svg', class: 'inactive' %></div>
                  <div class="col-xs-12">Discover</div>
                </div>
              </div>
              <div class="col-xs-6 slide-show-box review">
                <div class="row">
                  <div class="col-xs-12"><%= image_tag 'slides/review_on.svg', class: 'active' %></div>
                  <div class="col-xs-12"><%= image_tag 'slides/review_off.svg', class: 'inactive' %></div>
                  <div class="col-xs-12">Review</div>
                </div>
              </div>
            </div>
            <div class="row second-row">
              <div class="col-xs-6 slide-show-box share">
                <div class="row">
                  <div class="col-xs-12"><%= image_tag 'slides/share_on.svg', class: 'active' %></div>
                  <div class="col-xs-12"><%= image_tag 'slides/share_off.svg', class: 'inactive' %></div>
                  <div class="col-xs-12">Share</div>
                </div>
              </div>
              <div class="col-xs-6 slide-show-box learn">
                <div class="row">
                  <div class="col-xs-12"><%= image_tag 'slides/learn_on.svg', class: 'active' %></div>
                  <div class="col-xs-12"><%= image_tag 'slides/learn_off.svg', class: 'inactive' %></div>
                  <div class="col-xs-12">Learn</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>