<div id="team" class="bullets slides">


  <a href="#" class="slidesjs-previous slidesjs-navigation"></a>
  <a href="#" class="slidesjs-next slidesjs-navigation"></a>

  <div class="slide">
    <div class="caption">
      <div><%= compiled_image_tag 'slides/quotes.svg', class: 'quotes' %></div>
      <div>We built Fletcher to bring together the extensive knowledge base in the JLL community.</div>
    </div>
    <div class="image" style="background-image: url('<%= image_url 'profile_images/john.jpg' %>')"></div>
    <div class="name">John Smith</div>
    <div class="title">Marketing</div>
    <div class="location">Chicago, USA</div>
  </div>

  <div class="slide">
    <div class="caption">
      <div><%= compiled_image_tag 'slides/quotes.svg', class: 'quotes' %></div>
      <div>We built Fletcher to bring together the extensive knowledge base in the JLL community.</div>
    </div>
    <div class="image" style="background-image: url('<%= image_url 'profile_images/janet.jpg' %>')"></div>
    <div class="name">Janet Martin</div>
    <div class="title">Human Resources</div>
    <div class="location">Miami, USA</div>
  </div>

  <div class="slide">
    <div class="caption">
      <div><%= compiled_image_tag 'slides/quotes.svg', class: 'quotes' %></div>
      <div>We built Fletcher to bring together the extensive knowledge base in the JLL community.</div>
    </div>
    <div class="image" style="background-image: url('<%= image_url 'profile_images/thomas.jpg' %>')"></div>
    <div class="name">Thomas Collier</div>
    <div class="title">Accounts</div>
    <div class="location">Buenes Aires, Argentina</div>
  </div>

</div>