<!DOCTYPE html>
<html>
  <head>
    <title>Fletcher</title>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body class="app <%= params[:action] %> <%= theme_class %>">
    <div id="loading-bar">
      <div class="bar"></div>
    </div>
    <div id="wrapper">

      <%= render 'app/header' %>

      <%= yield %>

      <div id='notifications'></div>
      <div id='modals'></div>

      <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>

      <div id="analytics"></div>

    </div>

    <footer id='footer'></footer>
  </body>
</html>
