<!DOCTYPE html>
<html>
  <head>
    <title>Fletcher</title>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="app <%= params[:action] %>">

    <%= render 'app/header' %>

    <%= yield %>

    <div id='footer'></div>

    <div id='notifications'></div>
    <div id='modals'></div>

    <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>

    <div id="analytics"></div>
  </body>
</html>
